/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* BARRA SUPERIOR */
.barra-superior {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 2px solid black;
}

.logo {
    margin: 0;
    font-size: 22px;
}

.navegacion a {
    margin-left: 15px;
    padding: 8px 12px;
    border: 1px solid black;
    background-color: #f2f2f2;
    text-decoration: none;
    color: black;
}

.navegacion a:hover {
    background-color: #ddd;
}

.idiomas a, .idiomas strong {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

/* HERO */
.seccion-principal {
    height: 420px;
    background: linear-gradient(to right, #031827, #064469);
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
}

.texto-principal {
    color: white;
    margin-left: 60px;
}

.texto-principal h2 {
    font-size: 38px;
}

/* CONTENIDO */
.contenido {
    max-width: 800px;
    margin: -70px auto 40px auto;
    padding: 30px;
    background-color: white;
}

.contenido section {
    border-bottom: 2px solid black;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

/* TIKTOK */
#tiktok blockquote {
    margin: 30px 0;
}

/* FOOTER */
.pie-pagina {
    background-color: #041c2c;
    color: white;
    text-align: center;
    padding: 15px;
    border-top: 2px solid black;
}